.club-owner {
  max-width: 160px;
}

.club-owner-profile-picture {
  width: 48px;
  height: 48px;
}

.club-map {
  width: 100%;
  max-height: 150px;
}

.club-map iframe {
  width: 100%;
}

.signup-modal-image-container {
  width: 64px;
  height: 48px;
}

.signup-modal-image {
  max-width: 64px;
  max-height: 48px;
  object-fit: "cover";
  flex-shrink: 0;
}
