.club-owner {
    max-width: 160px;
}

.club-owner-profile-picture {
    width: 48px;
    height: 48px;
}

.club-map {
    width: 100%;
    max-height: 150px;
}

.club-map iframe {
    width: 100%;
}

